.artists {
  width: 700px;
  height: 100%;
  background-color: #1bd760;
  margin-top: 20px;
  box-sizing: border-box;
  border-radius: 20px;

  .artists-title {
    font-size: 1.3em;
    padding: 10px;
    padding-top: 20px;
  }

  .artists-list-item {
    margin: 15px;
    text-align: left;
  }
  .artists-list-item-img {
    float: left;
    margin-right: 15px;
    margin-left: 10px;
  }

  .artist {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0 15px 0 100px;
    width: 700px;
    box-sizing: border-box;
    margin: 15px;

    .artist-img {
      width: 120px;
    }

    .artist-detail {
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: left;
      width: 300px;

      .artist-name {
        margin-bottom: 5px;
        color: #ffd365;
        font-size: 25px;
      }
      .artist-genres {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  }
}
