.artists {
  width: 700px;
  height: 100%;
  background-color: #1bd760;
  margin-top: 20px;
  box-sizing: border-box;
  border-radius: 20px;

  .artists-title {
    font-size: 1.3em;
    padding: 10px;
    padding-top: 20px;
  }

  .artists-list-item {
    margin: 15px;
    text-align: left;
  }
  .artists-list-item-img {
    float: left;
    margin-right: 15px;
    margin-left: 10px;
  }

  .artist {
    display: flex;
    flex-direction: row;
    background-color: blue;
    .artist-detail {
      display: block;
    }
  }
}
