.my-genre-container {
  margin-top: 10px;
  font-size: 25px;
  .my-genre-genre {
    margin-left: 10px;
    color: #1db954;
  }
  .mostKey {
    color: #2940ab;
    font-weight: bolder;
    font-size: 30px;
  }
}
