.App-header {
  .title {
    margin: 10px;
    font-size: 50px;
    position: relative;

    .FaSpotify {
      position: absolute;
      left: 10%;
      top: 2px;
      color: #1db954;
    }
  }

  .button {
    border-width: 0 5px;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #1db954;
    text-decoration-line: none;
    color: #fff;
    cursor: default;
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    line-height: 19px;
    margin: 10px;
    margin-top: 10px;
    padding: 10px;
    overflow: hidden;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.27);
  }
}
